body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

/* Landing Page */
.landing-body {
    height: 100vh;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-container {
    width: 60%;
}

.main-title {
    font-size: 42px;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 30px;
}

.primary-btn {
    padding: 12px 30px;
    font-size: 16px;
    background: #00c6ff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.primary-btn:hover {
    background: #0072ff;
}

/* Form Page */
.form-body {
    background: #9ec5d6;
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

.form-card {
    background: white;
    padding: 35px;
    border-radius: 15px;
    width: 420px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.form-title {
    text-align: center;
    margin-bottom: 25px;
}

form label {
    font-weight: 500;
    margin-top: 10px;
    display: block;
}

form input, form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background: #002b5b;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover {
    background: #001f3f;
}

/* Result Page */
.result-body {
    height: 100vh;
    background: linear-gradient(to right, #0f2027, #203a43);
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-card {
    background: #2c3e50;
    padding: 40px;
    border-radius: 15px;
    color: white;
    text-align: center;
    width: 500px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
}

.result-title {
    margin-bottom: 20px;
}

.safe-text {
    color: #00ff99;
    font-size: 22px;
}

.fraud-text {
    color: #ff4d4d;
    font-size: 22px;
}
