<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Payments Fraud Detection</title>
    <link rel="stylesheet" href = "../static/style.css">
</head>
<body class="landing-body">

    <div class="hero-container">
        <h1 class="main-title">Online Payments Fraud Detection</h1>

        <a href="./predict">
            <button class="primary-btn">Start Fraud Detection</button>
        </a>
        <p class="subtitle">
            A machine learning based intelligent system to detect fraudulent online transactions.
            This system analyzes customer behavior and transaction patterns to prevent financial loss.
        </p>

    </div>

</body>
</html>
